@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.App {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Button {
  font-size: 13px;
  display: flex;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.Board {
  display: grid;
  grid-template-columns: repeat(3, 55px);
  grid-template-rows: repeat(3, 55px);
  grid-gap: 10px;
}

.Cell {
  font-weight: bold;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.Container-result {
  display: flex;
  margin: 15px 0;
}

.Result {
  margin: 0 14px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.Result-X {
  background-color: #ffcf91;
}

.Result-O {
  background-color: #ffb26a;
}
